<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/vista.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="./css/contacto.css">
  <style>
    body {
        background-image: url('./images/fondo.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
  </head>

<body>	
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="/menu">HEALTHYEATING</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link font-weight-bold" href="/menuComida">Ver Menú/Carrito</a></li>
                <li class="nav-item"><a class="nav-link font-weight-bold" href="/contacto">Contacto</a></li>
            </ul>
        </div>
        <a href="/login"><button type="button" class="btn btn-danger font-weight-bold">Iniciar/Registrarse</button></a>
    </div>
</nav>
  
  <!-- formulario de contacto en html y css -->  

	<div class="contact_form">

		<div class="formulario">			
      <h1>Iniciar Sesion</h1>
				<h3 style="color: black;">Introduce tu cuenta de siempre en Comidas o registrate si es tu primera vez.</h3>


					<form action="/db/login" method="post" id="formlogin">					
								<p>
									<label for="email" class="colocar_email">Email
										<span class="obligatorio">*</span>
									</label>
										<input type="email" name="introducir_email" id="email" required="obligatorio" placeholder="Escribe tu Email">
								</p>
                
								<p>
									<label for="contraseña" class="colocar_mensaje">Contraseña
										<span class="obligatorio">*</span>
									</label>
                </p> 
                <p>
										<input type="password" name="introducir_contraseña" id="contraseña" required="obligatorio" placeholder="Escribe tu Contraseña">
								</p>                
								<button type="submit" name="enviar_inicio_sesion" id="enviar_inicio_sesion" ><p>Iniciar Sesion</p></button>
                <li class="nav-item">
                  <a class="nav-link" id="registrarse" href="/registro" style="color: black;">Registrarme</a>
              </li>
								<p class="aviso">
									<span class="obligatorio"> * </span>los campos son obligatorios.
								</p>					
					</form>
		</div>	
	</div>

  <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h5>About us</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus et dolor blanditiis consequuntur ex voluptates perspiciatis omnis unde minima expedita.</p>
                <ul class="links">
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5>Opening Hours</h5>  
                <p class="week"><strong>Sunday-Thursday</strong></p>
                <p class="time">5AM-10PM</p>

                <h5>Contact Info</h5>
                <p class="address">Address:</p>
                <p class="white">34 Street Name, City Name Here, United States</p>
                <p class="tel">Telephone</p>
                <p class="white">+1 242 4942 290</p>
                <p class="mail">Email</p>
                <p class="white">info@yourdomain.com</p>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5>Quick Links</h5>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Disclaimers</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>

        <p class="copyright">Copyright &copy; 2019 All rights reserved | This template is made with <i class="fas fa-heart"></i> by <a href="#">Colorlib</a></p>
    </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>