<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/vista.css">  

  <link rel="stylesheet" href="./css/contacto.css">
  
  </head>


<body>	
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-verde">
      <img src="img/Helthy.png" alt="HeLTHY" class="img-fluid" style="max-width: 150px;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> <!-- Cambiado de "mr-auto" a "ml-auto" -->
          <li class="nav-item active">
            <a class="nav-link h3 font-weight-bold" href="menu.html">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link h3 font-weight-bold" href="menucomida.html">Ver Menú/Carrito</a>
        </li>
        <li class="nav-item">
            <a class="nav-link h3 font-weight-bold" href="contacto.html">Contacto</a>
        </li>
          
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="login.html" class="btn btn-primary btn-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
                <span class="ml-2">Iniciar Sesión/Registrarse</span>
            </a>
        </li>
        </ul>
      </div>
    </nav>
  </div>
  
  <!-- formulario de contacto en html y css -->  

	<div class="contact_form">

		<div class="formulario">			
      <h1>Iniciar Sesion</h1>
				<h3>Introduce tu cuenta de siempre en Comidas o registrate si es tu primera vez.</h3>


					<form action="submeter-formulario.php" method="post">					
								<p>
									<label for="email" class="colocar_email">Email
										<span class="obligatorio">*</span>
									</label>
										<input type="email" name="introducir_email" id="email" required="obligatorio" placeholder="Escribe tu Email">
								</p>
                
								<p>
									<label for="contraseña" class="colocar_mensaje">Contraseña
										<span class="obligatorio">*</span>
									</label>
                </p> 
                <p>
										<input type="password" name="introducir_contraseña" id="contraseña" required="obligatorio" placeholder="Escribe tu Contraseña">
								</p>                
								<button type="submit" name="enviar_inicio_sesion" id="enviar_inicio_sesion"><p>Iniciar Sesion</p></button>
                
                  <a class="nav-link" href="/registro">Registrarme</a>
                
								<p class="aviso">
									<span class="obligatorio"> * </span>los campos son obligatorios.
								</p>					
					</form>
		</div>	
	</div>

    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
  
        <!-- Right -->
       </section>
       <!-- Section: Social media -->
      
      
       <!-- Section: Links -->
       <section class="">
        <div class="container text-center text-md-start mt-5">
         <!-- Grid row -->
         <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
           <!-- Content -->
           <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Comidas
           </h6>
           <p>
            Con Comidas podras disfrutar y comiendo sano toda la semana y sin cocinar.
           </p>
          </div>
          <!-- Grid column -->
      
      
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
           <!-- Links -->
           <h6 class="text-uppercase fw-bold mb-4">
            Products
           </h6>
           <p>
            <a href="#!" class="text-reset">Angular</a>
           </p>
           <p>
            <a href="#!" class="text-reset">React</a>
           </p>
           <p>
            <a href="#!" class="text-reset">Vue</a>
           </p>
           <p>
            <a href="#!" class="text-reset">Laravel</a>
           </p>
          </div>
          <!-- Grid column -->
      
      
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
           <!-- Links -->
           <h6 class="text-uppercase fw-bold mb-4">
            Useful links
           </h6>
           <p>
            <a href="#!" class="text-reset">Pricing</a>
           </p>
           <p>
            <a href="#!" class="text-reset">Settings</a>
           </p>
           <p>
            <a href="#!" class="text-reset">Orders</a>
           </p>
           <p>
            <a href="#!" class="text-reset">Help</a>
           </p>
          </div>
          <!-- Grid column -->
      
      
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
           <!-- Links -->
           <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
           <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
           <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
           </p>
           <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
           <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
      
          </div>
      
          <!-- Grid column -->
      
         </div>
      
         <!-- Grid row -->
      
        </div>
      
       </section>
      
       <!-- Section: Links -->
      
      
      
       <!-- Copyright -->
      
       <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      
        © 2021 Copyright:
      
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      
       </div>
      
       <!-- Copyright -->
      
      </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>