<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="./css/vista.css">
    <meta charset="UTF-8">
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script>

let carrito = []; // Array para almacenar los precios en el carrito

// Función para agregar un precio al carrito
function añadirProductoAlCarrito(elemento) {
  // Obtener el precio del elemento <p class="card-text">
  const precioTexto = elemento.parentNode.querySelector('.card-text').textContent.trim();
  // Convertir el texto del precio a entero
  const precio = parseInt(precioTexto);
  carrito.push(precio);
  mostrarCarrito();
}

// Función para mostrar los precios en el carrito
function mostrarCarrito() {
  const carritoElement = document.getElementById('carrito');
  carritoElement.innerHTML = '';
  carrito.forEach(precio => {
    const li = document.createElement('li');
    li.textContent = `${precio} pesos`;
    li.classList.add('list-group-item');
    carritoElement.appendChild(li);
  });
  calcularTotal();
}

// Función para calcular el total del carrito
function calcularTotal() {
  const totalElement = document.getElementById('total');
  const total = carrito.reduce((acc, precio) => acc + precio, 0);
  totalElement.textContent = total;
}

// Función para vaciar el carrito
function vaciarCarrito() {
  carrito = [];
  mostrarCarrito();
}
    </script>
    
</head>
<body>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-verde">
      <img src="./img/Helthy.png" alt="HeLTHY" class="img-fluid" style="max-width: 150px;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> <!-- Cambiado de "mr-auto" a "ml-auto" -->
          <li class="nav-item active">
            <a class="nav-link h3 font-weight-bold" href="/menu">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link h3 font-weight-bold" href="/contacto">Contacto</a>
        </li>
          
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/login" class="btn btn-primary btn-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
                <span class="ml-2">Iniciar Sesión/Registrarse</span>
            </a>
        </li>
        </ul>
      </div>
    </nav>
  </div>
  
      <div style="padding: 25px;" class="container">
        <div class="row">
            <!-- Elementos generados a partir del JSON -->
            <!-- Carrito -->
            <% platos.forEach(plato => { %>
              <div class="card" style="width: 18rem;">
                <img src="<%= plato.imagen %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= plato.nombre %></h5>
                  <p class="card-text"><%= plato.id %></p>
                  <a href="#" class="btn btn-primary" marcador="<%= plato.id %> " onClick="añadirProductoAlCarrito(this)">agregar al carrito</a>
                </div>
              </div>
              <% }) %>
               <!-- CARRITO -->
              <aside class="col-sm-4">
              <h2>Carrito</h2>
                <!-- Elementos del carrito -->
              <ul id="carrito" class="list-group"></ul>
                <hr>
                 <!-- Precio total -->
                <p class="text-right">Total: <span id="total"></span>&euro;</p>
                <button id="boton-vaciar" class="btn btn-danger" onclick="vaciarCarrito()">Vaciar</button>
                <button id="boton-pagar" class="btn btn-primary">Pagar</button> Nuevo botón Pagar
            </aside>
            
        </div>
    </div>

    

 
    
    <!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Comidas
            </h6>
            <p>
              Con Comidas podras disfrutar y comiendo sano toda la semana y sin cocinar.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>
</html>
